{% extends 'FinApp/layout.html' %}

{% block title %} Registration {% endblock %}

{% block content %}

    <div class="form-wrap">
        <form action="" method="post">
            {% csrf_token %}
            <h4>Вхід</h4>
            <label for="username">І'мя користувача</label>
            <input type="text" name="username">
            <label for="password">Пароль</label>
            <input type="password" name="password">
            <span>{{error}}</span>
            <button type="submit">Увійти</button>
        </form>
        <h5>Ще не зареєстрований?  <a style="color: #134B70; font-weight: bold; text-decoration:underline;" href="{% url 'registration' %}"> Реєстрація</a></h5>
    </div>

{% endblock %}